---
import Layout from "../layouts/Layout.astro"
import Image from "astro/components/Image.astro"
import image1 from "../assets/images/about2.jpg"
import image2 from "../assets/images/about.jpg"
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <title>Min Astro side</title>
  </head>
<Layout>
      <body>
          <main>
              <section>
                  <h1>About</h1>
                  <Image src={image1} alt="coaches">
                </section>
                <div class="faq"></div>
                <section class="flex">
                    <div>
                        <h2>MEET THE TEAM</h2>
                        <span class="underline"></span>
                        <Image src={image2} alt="coach k">
                    </div>
                    <div>
                        <Image src={image2} alt="coach k">
                    </div>
                    <div>
                        <Image src={image2} alt="coach k">
                    </div>
                    </section>
                </main>
            </body>
            </html>
 </Layout>


<style>
    /* mobil css */
    img{
        width: 100%;
        height: auto;
    }
/*     .flex{
        display: flex;
        justify-content: center;
    }
 */
    .underline{
        border-bottom: 1px solid #353535;
    }
    h2{
        text-align: center;
    }

</style>

