---
import Layout from "../layouts/Layout.astro"
import Image from "astro/components/Image.astro"
import image1 from "../assets/images/about2.jpg"
import image2 from "../assets/images/about.jpg"
---

<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <title>Min Astro side</title>
  </head>
  <body>
   <main>
    <section>
        <h1>About</h1>
        <Image src={image1} alt="coaches">
    </section>
    <div class="faq"></div>
    <section>
        <h2>MEET THE TEAM</h2>
        <Image src={image2} alt="coach k">
    </section>
   </main>
  </body>
</html>


<style>
    /* mobil css */
    img{
        width: 100%;
        height: auto;
    }

    section{
        
    }

</style>

