---
import Layout from "../layouts/Layout.astro";
import signup from "../assets/images/signup.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sign Up</title>
  </head>
  <Layout>
    <main>
      <section class="sign-up">
        <div class="signup-wrapper">
          <h1>No <span class="italic">MORE </span> Excuses - Just Sign Up</h1>
          <p class="p2">Book sessions, manage your bundles and join the community.</p>

          <form class="sign-up-form">
            <label> <input id="name" type="text" placeholder="NAME" required /></label>

            <label> <input id="email" type="text" placeholder="EMAIL" required /></label>

            <label>
              <input id="password" type="password" placeholder="PASSWORD" required />
            </label>

            <button id="signin-btn" type="submit">SIGN UP</button>
          </form>
        </div>
      </section>
      <img src={signup.src} alt="people in a team" />
    </main>
    <section class="prices"></section>
  </Layout>
</html>

<style>
  .p2 {
    font-size: 12px;
    text-transform: uppercase;
  }
  h1 {
    font-size: 20px;
    text-transform: uppercase;
  }

  .italic {
    font-style: italic;
  }

  #signin-btn {
    margin-top: 1rem;
    background-color: var(--orange-color);
    color: var(--offwhite-color);

    border: none;
    padding: 0.8rem 2rem;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .sign-up {
    text-align: center;
    line-height: 20px;
  }
  h1 {
    margin-bottom: 0px;
  }
  .sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
  }

  .signup-wrapper {
    max-width: 450px;
    width: 100%;
  }
</style>
