---
import Font from "astro/components/Font.astro";
import Layout from "../layouts/Layout.astro";
import Faq from "../components/Faq.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <header></header>
    <body>
      <section class="sign_up_link">
        <a href="/signup">
          <img src="/src/assets/images/SuB.svg" alt="sign up button" />
        </a>
      </section>
      <section class="hero">
        <div>
          <img class="hero_img" src="/src/assets/images/training1.jpg" alt="" />
        </div>
        <h1 class="hero_h1">TRAINING</h1>
        <p class="hero_p">
          <em
            >The training is open to everyone - all levels can join, just sign
            up.</em
          >
        </p>
      </section>
      <section class="body">
        <h2 class="SO">SESSIONS OVERVIEW</h2>
        <section class="classes">
          <div>
            <div class="date">
              <p class="p2">MONDAY</p>
              <p class="time">
                <img src="/src/assets/images/Clock.svg" alt="ur" /> 6:00 - 7:00
              </p>
            </div>

            <h2>LEGS FOCUS - SMK</h2>
            <strong>The training includes:</strong>
            <ul>
              <li><p>Hill sprints</p></li>
              <li><p>Body weight exercises</p></li>
            </ul>

            <p>
              <a class="BOOK_CTA" href="#">BOOK</a>
            </p>
          </div>

          <div>
            <div class="date">
              <p class="p2">TUESDAY</p>
              <p class="time">
                <img src="/src/assets/images/Clock.svg" alt="ur" /> 17:30 - 18:30
              </p>
            </div>

            <h2>EVENING PUMP - NYBODER</h2>
            <strong>The training includes:</strong>
            <ul>
              <li><p>Burpees</p></li>
              <li><p>Body weight exercises</p></li>
            </ul>

            <p>
              <a class="BOOK_CTA" href="#">BOOK</a>
            </p>
          </div>

          <div>
            <div class="date">
              <p class="p2">THURSDAY</p>
              <p class="time">
                <img src="/src/assets/images/Clock.svg" alt="ur" /> 6:00 - 7:00
              </p>
            </div>

            <h2>OUTDOOR - BLOX</h2>
            <strong>The training includes:</strong>
            <ul>
              <li><p>250–500 meter runs</p></li>
              <li><p>Weight lifting (various weight options)</p></li>
            </ul>

            <p>
              <a class="BOOK_CTA" href="#">BOOK</a>
            </p>
          </div>

          <div>
            <div class="date">
              <p class="p2">FRIDAY</p>
              <p class="time">
                <img src="/src/assets/images/Clock.svg" alt="ur" /> 8:00 - 9:00
              </p>
            </div>

            <h2>FREAKY FRIDAY - OFELIA</h2>
            <strong>The training includes:</strong>
            <ul>
              <li><p>Circle training</p></li>
              <li><p>Interval runs</p></li>
            </ul>

            <p>
              <a class="BOOK_CTA" href="#">BOOK</a>
            </p>
          </div>

          <a class="SU" href="signup.astro">SIGN UP TO VIEW FULL SCHEDULE</a>
        </section>

        <section class="CT">
          <img class="CT_img" src="/src/assets/images/training2.jpg" alt="" />
          <div class="CT_hero_content">
            <div class="overlay"></div>
            <div class="CT_hero_text">
              <h1 style="color: white;">COMPANY TRAINING</h1>
              <p style="color: white;">
                <span>Interested in company training? </span><br />
                <em
                  >Contact us, and we’ll help you set up a session for your
                  team.</em
                >
              </p>
            </div>
          </div>
          <section class="CT_info">
            <div>
              <h3>Why Choose Outdoor Company Training?</h3>
              <ul>
                <li>
                  <p>
                    Team building: Working out together builds stronger
                    relationships
                  </p>
                </li>
                <li>
                  <p>
                    Fresh air & daylight: Boosts mood, productivity, and
                    creativity
                  </p>
                </li>
                <li>
                  <p>
                    Professional coaching: Experienced instructors guiding safe
                    and effective workouts
                  </p>
                </li>
                <li>
                  <p>
                    Flexible scheduling: Early mornings, lunch-hour, or after
                    work
                  </p>
                </li>
                <li>
                  <p>
                    City-based training: Easy meet-up locations across
                    Copenhagen - or even in your backyard
                  </p>
                </li>
              </ul>
              <p>
                <em
                  >“Our team loved it, the outdoor sessions gave us new energy
                  and connection.” <br /> — Planet Nusa Director 2024</em
                >
              </p>
              <a href="/src/pages/signup.astro">CONTACT US TO GET STARTED</a>
            </div>
            <div class="DT_img">
              <img src="/src/assets/images/training.jpg" alt="" />
            </div>
          </section>

          <div class="Testimony">
            <h3>COMPANIES WHO ENJOYS OUR TRAINING</h3>
            <div class="Testimony_show">
              <img src="/src/assets/logoer/nusa.svg" alt="" />
              <img src="/src/assets/logoer/pouri.svg" alt="" />
              <img src="/src/assets/logoer/juli.svg" alt="" />
            </div>
          </div>
        </section>
      </section>
    </body>
  </main>

  <style>
    .SO {
      margin-left: 20px;
    }
    .hero_img {
      max-width: 100%;
      filter: brightness(0.5);
    }
    .hero_h1 {
      color: white;
      position: absolute;
      transform: translate(-50%);
      top: 12.5%;
      left: 50%;
    }
    .hero_p {
      color: white;
      position: absolute;
      transform: translate(-50%);
      top: 17.5%;
      left: 50%;
      width: 220px;
      text-align: center;
    }
    .classes {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2.5rem;
      margin: 20px;
    }
    .classes h2 {
      margin-top: -20px;
    }
    .classes div {
      background-color: var(--beige-color);
      padding: 10px;
    }
    .classes ul {
      padding-left: 20px;
      margin-bottom: 20px;
    }

    .classes li {
      margin-bottom: 6px;
      font-size: 15px;
    }
    .date {
      display: flex;
      justify-content: space-between;
      text-align: start;
      margin-left: -10px;
      margin-top: -10px;
      background-color: transparent;
    }
    .time {
      font-size: 14px;
      font-weight: 600;
    }
    .BOOK_CTA {
      display: block;
      background-color: var(--orange-color);
      color: #fff;
      border: none;
      width: fit-content;
      margin-top: 20px;
      padding: 15px 45px;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      text-decoration: none;
    }
    .BOOK_CTA:hover {
      background-color: var(--darkgrey-color);
      transition: all 0.5s ease;
    }

    .SU {
      width: fit-content;
      margin: auto;
      margin-top: 30px;
      padding: 20px 60px;
      background-color: var(--darkgrey-color);
      color: white;
      text-decoration: none;
      text-align: center;
      margin-bottom: 50px;
    }
    .SU:hover {
      background-color: var(--orange-color);
      transition: all 0.5s ease;
    }
    .CT {
      width: 100%;
    }
    .CT_img {
      width: 100%;
      height: 25vh;
      object-fit: cover;
      display: block;
      filter: blur(0.5px) brightness(0.5);
    }
    .CT_hero_content {
      margin-top: -200px;
      position: relative;
      padding: 20px;
      z-index: 1;
    }
    .CT_hero_content p {
      max-width: 400px;
    }
    .CT_hero_text {
      position: relative;
      z-index: 3;
    }
    .CT_info {
      padding: 20px;
    }
    .CT_info li {
      max-width: 350px;
    }

    .CT a {
      display: block;
      background-color: var(--orange-color);
      color: #fff;
      padding: 20px 60px;
      width: fit-content;
      font-size: 18px;
      cursor: pointer;
      text-decoration: none;
      margin: auto;
      margin-top: 30px;
    }
    .CT a:hover {
      background-color: var(--darkgrey-color);
      transition: all 0.5s ease;
    }
    .DT_img {
      display: none;
    }
    .Testimony {
      margin: 20px;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 100px;
    }
    .Testimony_show {
      width: 100%;
      padding: 30px;
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: nowrap;
      background-color: var(--beige-color);
      box-sizing: border-box;
    }
    .Testimony img {
      width: 80px;
      height: auto;
      display: block;
      object-fit: contain;
    }

    @media only screen and (min-width: 768px) {
      .body {
        max-width: 1100px;
        margin: auto;
      }
      .hero {
        display: grid;
      }
      .hero_img {
        width: 100vw;
        height: fit-content;
        object-fit: cover;
        margin-left: calc(50% - 50vw);
      }
      .hero_h1 {
        margin-top: -27.5%;
        position: relative;
        text-align: center;
        z-index: 1;
      }
      .hero_p {
        width: 100%;
        margin-top: -22%;
        position: relative;
        text-align: center;
        z-index: 1;
      }

      .CT {
        width: 100%;
      }

      .CT_img {
        width: 100vw;
        height: 35vh;
        object-fit: cover;
        margin-left: calc(50% - 50vw);
      }
      .classes {
        grid-template-columns: 1fr 1fr;
      }
      .SU {
        grid-column: 1 / -1;

        text-align: center;
      }

      .Testimony img {
        display: flex;
        margin: auto;
        justify-content: space-between;
        position: relative;
      }
      .DT_img {
        display: flex;
        margin: auto;
        justify-content: center;
        width: 130%;
      }
      .DT_img img {
        max-width: 50%;
      }
      .CT_info {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .CT_info div:first-child {
        display: flex;
        flex-direction: column;
      }
      .CT_info a {
        margin: 0;
        margin-top: auto;
      }

      .CT_hero_content {
        margin-top: -300px;
        position: relative;
        padding: 20px;
        z-index: 1;
        margin-bottom: 50px;
      }
      .CT_hero_content span {
        font-size: 30px;
      }
      .sign_up_link {
        position: fixed;
        background-color: var(--darkgrey-color);
        z-index: 4;
        text-align: center;
        right: 0;
        margin-top: 20%;
        display: none;
      }
      .sign_up_link img {
        max-width: 50px;
        padding: 5px;
      }
    }
  </style>
</Layout>
