---
import Font from "astro/components/Font.astro";
import Layout from "../layouts/Layout.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main>
    <header></header>
    <body>
      <section class="hero">
        <div>
          <img class="hero_img" src="/src/assets/images/training1.jpg" alt="" />
        </div>
        <h1 class="hero_h1">Services</h1>
        <p class="hero_p">
          The training is open to everyone all levels can join, just sign up.
        </p>
      </section>
      <section class="body"></section>
      <h2 class="SO">SESSIONS OVERVIEW</h2>
      <section class="classes">
        <div>
          <div class="date">
            <p class="p2">MONDAY</p>
            <p class="time">
              <img src="/src/assets/images/Clock.svg" alt="ur" /> 6:00 - 7:00
            </p>
          </div>

          <h2>LEGS FOCUS - SMK</h2>
          <strong>The training includes:</strong>
          <ul>
            <li>Hill sprints</li>
            <li>Body weight exercises</li>
          </ul>

          <p>
            <a class="BOOK_CTA" href="#">BOOK</a>
          </p>
        </div>

        <div>
          <div class="date">
            <p class="p2">TUESDAY</p>
            <p class="time">
              <img src="/src/assets/images/Clock.svg" alt="ur" /> 17:30 - 18:30
            </p>
          </div>

          <h2>EVENING PUMP - NYBODER</h2>
          <strong>The training includes:</strong>
          <ul>
            <li>Hill sprints</li>
            <li>Body weight exercises</li>
          </ul>

          <p>
            <a class="BOOK_CTA" href="#">BOOK</a>
          </p>
        </div>

        <div>
          <div class="date">
            <p class="p2">THURSDAY</p>
            <p class="time">
              <img src="/src/assets/images/Clock.svg" alt="ur" /> 6:00 - 7:00
            </p>
          </div>

          <h2>OUTDOOR - BLOX</h2>
          <strong>The training includes:</strong>
          <ul>
            <li>Hill sprints</li>
            <li>Body weight exercises</li>
          </ul>

          <p>
            <a class="BOOK_CTA" href="#">BOOK</a>
          </p>
        </div>

        <div>
          <div class="date">
            <p class="p2">FRIDAY</p>
            <p class="time">
              <img src="/src/assets/images/Clock.svg" alt="ur" /> 8:00 - 9:00
            </p>
          </div>

          <h2>FREAKY FRIDAY - OFELIA</h2>
          <strong>The training includes:</strong>
          <ul>
            <li>Hill sprints</li>
            <li>Body weight exercises</li>
          </ul>

          <p>
            <a class="BOOK_CTA" href="#">BOOK</a>
          </p>
        </div>

        <a class="SU" href="signup.astro">SIGN UP TO VIEW FULL SCHEDULE</a>
      </section>

      <section class="CT">
        <img src="/src/assets/images/training2.jpg" alt="" />
        <div class="CT_hero_content">
          <div class="overlay"></div>
          <div class="CT_hero_text">
            <h1 style="color: white;">COMPANY TRAINING</h1>
            <p style="color: white;">
              Interested in company training? Contact us, and we’ll help you set
              up a session for your team.
            </p>
          </div>
        </div>
        <section class="CT_info">
          <div>
            <h3>Why Choose Outdoor Company Training?</h3>
            <ul>
              <li>
                Team building: Working out together builds stronger
                relationships
              </li>
              <li>
                Fresh air & daylight: Boosts mood, productivity, and creativity
              </li>
              <li>
                Professional coaching: Experienced instructors guiding safe and
                effective workouts
              </li>
              <li>
                Flexible scheduling: Early mornings, lunch-hour, or after work
              </li>
              <li>
                City-based training: Easy meet-up locations across Copenhagen -
                or even in your backyard
              </li>
            </ul>
            <p>
              <strong
                ><em
                  >“Our team loved it, the outdoor sessions gave us new energy
                  and connection.” <br /> — Company Client 2024</em
                >
              </strong>
            </p>
            <a href="/src/pages/signup.astro">CONTACT US TO GET STARTED</a>
          </div>
          <div class="DT_img">
            <img src="/src/assets/images/training.jpg" alt="" />
          </div>
        </section>

        <div class="Testimony">
          <h3>COMPANIES WHO ENJOYS OUR TRAINING</h3>
          <div class="Testimony_show">
            <img src="/src/assets/logoer/nusa.svg" alt="" />
            <img src="/src/assets/logoer/pouri.svg" alt="" />
            <img src="/src/assets/logoer/juli.svg" alt="" />
          </div>
        </div>
      </section>
      <footer></footer>
    </body>

    <style>
      .SO {
        margin-left: 20px;
      }
      .hero_img {
        max-width: 100%;
        filter: brightness(0.5);
      }
      .hero_h1 {
        color: white;
        position: absolute;
        transform: translate(-50%);
        top: 12.5%;
        left: 50%;
      }
      .hero_p {
        color: white;
        position: absolute;
        transform: translate(-50%);
        top: 17.5%;
        left: 50%;
        width: 54%;
        text-align: center;
      }
      .classes {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.5rem;
        margin: 20px;
      }
      .classes h2 {
        margin-top: -20px;
      }
      .classes div {
        background-color: var(--beige-color);
        padding: 10px;
      }
      .classes ul {
        padding-left: 20px;
        margin-bottom: 20px;
      }

      .classes li {
        margin-bottom: 6px;
        font-size: 15px;
      }
      .date {
        display: flex;
        justify-content: space-between;
        text-align: start;
        margin-left: -10px;
        margin-top: -10px;
        background-color: transparent;
      }
      .time {
        font-size: 14px;
        font-weight: 600;
      }
      .BOOK_CTA {
        display: block;
        background-color: var(--orange-color);
        color: #fff;
        border: none;
        width: fit-content;
        margin-top: 20px;
        padding: 12px 28px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
      }

      .SU {
        width: fit-content;
        margin: auto;
        margin-top: 30px;
        padding: 12px 28px;
        background-color: var(--darkgrey-color);
        border: 1px solid var(--darkgrey-color);
        color: white;
        text-decoration: none;
        text-align: center;
      }
      .CT {
        width: 100%;
      }
      .CT img {
        width: 100%;
        height: 25vh;
        object-fit: cover;
        display: block;
        filter: blur(0.5px) brightness(0.5);
      }
      .CT_hero_content {
        margin-top: -200px;
        position: relative;
        padding: 20px;
        z-index: 1;
      }
      .CT_hero_content p {
        max-width: 400px;
      }
      .CT_hero_text {
        position: relative;
        z-index: 3;
      }
      .CT_info {
        padding: 20px;
      }
      .CT_info li {
        max-width: 350px;
      }

      .CT a {
        display: block;
        background-color: var(--orange-color);
        color: #fff;
        border: none;
        padding: 12px 28px;
        width: fit-content;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        margin: auto;
        margin-top: 30px;
      }
      .DT_img {
        display: none;
      }
      .Testimony {
        margin: 20px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 100px;
      }
      .Testimony_show {
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: nowrap;
        background-color: var(--beige-color);
        box-sizing: border-box;
      }
      .Testimony img {
        width: 80px;
        height: auto;
        display: block;
        object-fit: contain;
      }
    </style>
  </main>
</Layout>
