<header>
  <div class="burger" id="burgerBtn">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav>
    <ul class="nav-left">
      <a href=""><li>TRAINING</li></a>
      <a href=""><li>EVENTS</li></a>
      <a href=""><li>SHOP</li></a>
    </ul>

    <div class="logo">
      <a href="">
        <svg
          width="318"
          height="50"
          viewBox="0 0 318 50"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M35.9659 10.0909L30.1705 45H23.0114L12.4943 24.8523H12.2557L8.89773 45H0.460227L6.25568 10.0909H13.517L23.9489 30.2045H24.2386L27.5455 10.0909H35.9659ZM67.3972 28.0909C66.7609 31.8523 65.5109 35.0284 63.6472 37.6193C61.7949 40.1989 59.5393 42.1534 56.8802 43.483C54.2324 44.8125 51.3859 45.4773 48.3404 45.4773C45.1245 45.4773 42.3404 44.7614 39.9881 43.3295C37.6359 41.8977 35.9256 39.8125 34.8574 37.0739C33.8006 34.3352 33.5961 31.0114 34.2438 27.1023C34.8574 23.3409 36.0904 20.1591 37.9427 17.5568C39.8063 14.9545 42.0734 12.983 44.7438 11.642C47.4256 10.2898 50.3006 9.61364 53.3688 9.61364C56.562 9.61364 59.329 10.3352 61.6699 11.7784C64.0222 13.2216 65.7268 15.3182 66.7836 18.0682C67.8404 20.8182 68.0449 24.1591 67.3972 28.0909ZM58.9597 27.1023C59.312 24.9091 59.312 23.0625 58.9597 21.5625C58.6188 20.0625 57.9484 18.9318 56.9484 18.1705C55.9484 17.3977 54.6472 17.0114 53.0449 17.0114C51.2722 17.0114 49.6699 17.4489 48.2381 18.3239C46.8177 19.1875 45.6302 20.4489 44.6756 22.108C43.7211 23.7557 43.0563 25.75 42.6813 28.0909C42.2949 30.3068 42.2836 32.1534 42.6472 33.6307C43.0222 35.108 43.7211 36.2216 44.7438 36.9716C45.7665 37.7102 47.0677 38.0795 48.6472 38.0795C50.4086 38.0795 51.9938 37.6534 53.4029 36.8011C54.812 35.9489 55.9881 34.7045 56.9313 33.0682C57.8859 31.4318 58.562 29.4432 58.9597 27.1023ZM68.4109 45.4943C67.1723 45.4943 66.1609 45.0625 65.3768 44.1989C64.5927 43.3352 64.2518 42.2898 64.3541 41.0625C64.4677 39.858 65.0018 38.8295 65.9564 37.9773C66.9109 37.125 68.0018 36.6989 69.2291 36.6989C70.3995 36.6989 71.3825 37.125 72.178 37.9773C72.9848 38.8295 73.3314 39.858 73.2177 41.0625C73.1495 41.8807 72.8711 42.625 72.3825 43.2955C71.9052 43.9659 71.3143 44.5 70.6098 44.8977C69.9052 45.2955 69.1723 45.4943 68.4109 45.4943ZM74.2527 45L80.0482 10.0909H104.389L103.23 16.9432H87.3266L86.1675 24.1023H100.827L99.6675 30.9716H85.0084L83.8493 38.1477H99.7527L98.5936 45H74.2527ZM114.049 10.0909L118.583 21.1193H118.856L127.14 10.0909H136.907L123.509 27.5455L131.452 45H121.992L117.288 33.8523H117.015L108.629 45H98.7934L112.549 27.5455L104.862 10.0909H114.049ZM165.019 22.7386H156.598C156.644 21.8523 156.559 21.0625 156.343 20.3693C156.127 19.6648 155.786 19.0625 155.32 18.5625C154.854 18.0511 154.274 17.6648 153.581 17.4034C152.888 17.142 152.081 17.0114 151.161 17.0114C149.399 17.0114 147.803 17.4489 146.371 18.3239C144.939 19.1989 143.74 20.4602 142.774 22.108C141.809 23.7557 141.132 25.733 140.746 28.0398C140.394 30.267 140.399 32.125 140.763 33.6136C141.138 35.1023 141.831 36.2216 142.843 36.9716C143.854 37.7102 145.138 38.0795 146.695 38.0795C147.706 38.0795 148.644 37.9602 149.507 37.7216C150.382 37.4716 151.172 37.1136 151.877 36.6477C152.581 36.1818 153.189 35.6193 153.701 34.9602C154.223 34.2898 154.627 33.5455 154.911 32.7273H163.399C162.979 34.2614 162.286 35.7898 161.32 37.3125C160.365 38.8239 159.161 40.1932 157.706 41.4205C156.252 42.6477 154.564 43.6307 152.644 44.3693C150.723 45.108 148.587 45.4773 146.235 45.4773C143.019 45.4773 140.246 44.7557 137.916 43.3125C135.598 41.8693 133.922 39.7784 132.888 37.0398C131.865 34.2898 131.672 30.9602 132.309 27.0511C132.934 23.267 134.166 20.0795 136.007 17.4886C137.86 14.8977 140.11 12.9375 142.757 11.608C145.416 10.2784 148.252 9.61364 151.263 9.61364C153.445 9.61364 155.405 9.90909 157.144 10.5C158.894 11.0795 160.377 11.9318 161.593 13.0568C162.809 14.1705 163.712 15.5398 164.303 17.1648C164.905 18.7898 165.144 20.6477 165.019 22.7386ZM189.257 10.0909H197.677L193.944 32.608C193.513 35.2102 192.518 37.4773 190.961 39.4091C189.416 41.3295 187.444 42.8182 185.047 43.875C182.649 44.9205 179.978 45.4432 177.035 45.4432C174.081 45.4432 171.586 44.9205 169.552 43.875C167.518 42.8182 166.047 41.3295 165.138 39.4091C164.228 37.4773 163.984 35.2102 164.405 32.608L168.138 10.0909H176.575L172.944 31.875C172.751 33.0795 172.842 34.1534 173.217 35.0966C173.603 36.0284 174.228 36.767 175.092 37.3125C175.956 37.8466 177.013 38.1136 178.263 38.1136C179.524 38.1136 180.677 37.8466 181.723 37.3125C182.768 36.767 183.632 36.0284 184.314 35.0966C184.996 34.1534 185.433 33.0795 185.626 31.875L189.257 10.0909ZM216.222 20.625C216.313 19.3409 215.972 18.3466 215.2 17.642C214.438 16.9375 213.234 16.5852 211.586 16.5852C210.495 16.5852 209.563 16.7273 208.79 17.0114C208.018 17.2841 207.41 17.6705 206.967 18.1705C206.523 18.6591 206.245 19.2273 206.131 19.875C206.029 20.3864 206.057 20.8409 206.217 21.2386C206.376 21.6364 206.654 21.9886 207.052 22.2955C207.461 22.6023 207.967 22.8693 208.569 23.0966C209.182 23.3239 209.87 23.5227 210.631 23.6932L213.495 24.375C215.154 24.75 216.592 25.25 217.807 25.875C219.035 26.4886 220.029 27.233 220.79 28.108C221.552 28.9716 222.075 29.9659 222.359 31.0909C222.643 32.2159 222.665 33.4773 222.427 34.875C222.063 37.0795 221.194 38.9716 219.819 40.5511C218.455 42.1307 216.671 43.3409 214.467 44.1818C212.273 45.0227 209.722 45.4432 206.813 45.4432C203.904 45.4432 201.432 45.0057 199.398 44.1307C197.376 43.2443 195.91 41.9091 195.001 40.125C194.092 38.3409 193.847 36.0909 194.268 33.375H202.33C202.205 34.5 202.347 35.4375 202.756 36.1875C203.177 36.9375 203.825 37.5057 204.7 37.892C205.575 38.2784 206.631 38.4716 207.87 38.4716C209.006 38.4716 210.001 38.3182 210.853 38.0114C211.717 37.7045 212.404 37.2784 212.915 36.733C213.438 36.1875 213.756 35.5625 213.87 34.858C213.984 34.2102 213.876 33.6477 213.546 33.1705C213.228 32.6932 212.682 32.2784 211.91 31.9261C211.148 31.5739 210.148 31.2557 208.91 30.9716L205.415 30.1193C202.529 29.4148 200.342 28.2898 198.853 26.7443C197.376 25.1989 196.853 23.1023 197.285 20.4545C197.648 18.2841 198.546 16.3864 199.978 14.7614C201.421 13.1364 203.245 11.875 205.45 10.9773C207.665 10.0682 210.103 9.61364 212.762 9.61364C215.467 9.61364 217.739 10.0739 219.58 10.9943C221.432 11.9034 222.768 13.1875 223.586 14.8466C224.415 16.4943 224.654 18.4205 224.302 20.625H216.222ZM221.178 45L226.973 10.0909H251.314L250.155 16.9432H234.252L233.092 24.1023H247.752L246.592 30.9716H231.933L230.774 38.1477H246.678L245.519 45H221.178ZM269.855 20.625C269.946 19.3409 269.605 18.3466 268.832 17.642C268.071 16.9375 266.866 16.5852 265.218 16.5852C264.128 16.5852 263.196 16.7273 262.423 17.0114C261.65 17.2841 261.042 17.6705 260.599 18.1705C260.156 18.6591 259.878 19.2273 259.764 19.875C259.662 20.3864 259.69 20.8409 259.849 21.2386C260.008 21.6364 260.287 21.9886 260.684 22.2955C261.093 22.6023 261.599 22.8693 262.201 23.0966C262.815 23.3239 263.503 23.5227 264.264 23.6932L267.128 24.375C268.787 24.75 270.224 25.25 271.44 25.875C272.667 26.4886 273.662 27.233 274.423 28.108C275.184 28.9716 275.707 29.9659 275.991 31.0909C276.275 32.2159 276.298 33.4773 276.059 34.875C275.696 37.0795 274.826 38.9716 273.451 40.5511C272.088 42.1307 270.304 43.3409 268.099 44.1818C265.906 45.0227 263.355 45.4432 260.446 45.4432C257.537 45.4432 255.065 45.0057 253.031 44.1307C251.008 43.2443 249.542 41.9091 248.633 40.125C247.724 38.3409 247.48 36.0909 247.9 33.375H255.963C255.838 34.5 255.98 35.4375 256.389 36.1875C256.809 36.9375 257.457 37.5057 258.332 37.892C259.207 38.2784 260.264 38.4716 261.503 38.4716C262.639 38.4716 263.633 38.3182 264.485 38.0114C265.349 37.7045 266.037 37.2784 266.548 36.733C267.071 36.1875 267.389 35.5625 267.503 34.858C267.616 34.2102 267.508 33.6477 267.179 33.1705C266.86 32.6932 266.315 32.2784 265.542 31.9261C264.781 31.5739 263.781 31.2557 262.542 30.9716L259.048 30.1193C256.162 29.4148 253.974 28.2898 252.485 26.7443C251.008 25.1989 250.485 23.1023 250.917 20.4545C251.281 18.2841 252.179 16.3864 253.61 14.7614C255.054 13.1364 256.878 11.875 259.082 10.9773C261.298 10.0682 263.735 9.61364 266.395 9.61364C269.099 9.61364 271.372 10.0739 273.213 10.9943C275.065 11.9034 276.4 13.1875 277.218 14.8466C278.048 16.4943 278.287 18.4205 277.934 20.625H269.855Z"
            fill="#FF712A"></path>
          <path
            d="M285.506 5.63636L286.045 2.45455H298.688L298.148 5.63636H293.773L291.898 17H288.006L289.881 5.63636H285.506ZM298.574 2.45455H303.488L305.505 10.6932H305.676L310.42 2.45455H315.335L312.92 17H309.057L310.449 8.59091H310.335L305.733 16.8864H303.403L301.557 8.53409H301.443L300.023 17H296.159L298.574 2.45455Z"
            fill="#FF712A"></path>
        </svg>
      </a>
    </div>

    <ul class="nav-right">
      <a href=""><li>A GOOD CAUSE</li></a>
      <a href=""><li>ABOUT</li></a>
      <a href=""><li>CONTACT</li></a>
    </ul>
  </nav>
  <div id="mobileMenu" class="mobile-menu">
    <a href=""><li>TRAINING</li></a>
    <a href=""><li>EVENTS</li></a>
    <a href=""><li>SHOP</li></a>
    <a href=""><li>A GOOD CAUSE</li></a>
    <a href=""><li>ABOUT</li></a>
    <a href=""><li>CONTACT</li></a>
  </div>
</header>

<style>
  /* ----- Desktop styling (din eksisterende) ----- */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
    background: var(--beige-color);
  }

  ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  .burger {
    position: absolute;
    left: 2rem;
    top: 1.5rem;
    width: 28px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 9999;
  }

  .burger span {
    height: 3px;
    width: 100%;
    background: var(--orange-color);
    border-radius: 2px;
    transition: 0.3s;
  }

  .burger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .burger.open span:nth-child(2) {
    opacity: 0;
  }
  .burger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }

  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--beige-color);
    padding-top: 80px;
    padding-bottom: 20px;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    z-index: 999;
  }

  .mobile-menu.open {
    display: flex;
  }

  svg:hover path {
    fill: var(--darkgrey-color);
  }
  li:hover {
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
  }

  @media (max-width: 768px) {
    .burger {
      display: flex;
    }

    .nav-left,
    .nav-right {
      display: none;
    }

    nav {
      justify-content: center;
      padding: 1rem 2rem;
    }

    .logo svg {
      width: 200px;
      height: auto;
      margin-left: 50px;
    }
  }
</style>

<script>
  const burgerBtn = document.getElementById("burgerBtn");
  const mobileMenu = document.getElementById("mobileMenu");

  burgerBtn.addEventListener("click", () => {
    burgerBtn.classList.toggle("open");
    mobileMenu.classList.toggle("open");
  });
</script>
