@font-face {
  font-family: "roboto text";
  src: url(/assets/fonte/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: "roboto overskrift";
  src: url(/assets/fonte/Roboto_Condensed/static/RobotoCondensed-SemiBold.ttf);
}

@font-face {
  font-family: "roboto h3";
  src: url(/assets/fonte/Roboto_Condensed/static/RobotoCondensed-SemiBoldItalic.ttf);
}

:root {
  --bg-color: #fdf8ee;
  --text-color: #353535;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color);
}

p {
  font-family: "roboto text";
}

h1,
h2 {
  font-family: "roboto overskrift";
}
h3 {
  font-family: "overskrift h3";
}
