@font-face {
  font-family: roboto p;
  src: url(../assets/fonte/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: roboto overskrift;
  src: url(../assets/fonte/Roboto_Condensed/static/RobotoCondensed-SemiBold.ttf);
  font-style: light;
}

@font-face {
  font-family: roboto h3;
  src: url(../assets/fonte/Roboto_Condensed/static/RobotoCondensed-SemiBoldItalic.ttf);
}

:root {
  --bg-color: #fdf8ee;
  --text-color: #353535;
}
 
/* Farver */

:root {
  --orange-color: #FF712A;
  --darkgrey-color: #353535;
  --lightgrey-color: #5D5D5D;
  --offwhite-color: #FDF8EE;
  --beige-color: #EDE7DA;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text-color);
}

.p2 {
  color: #5d5d5d;
}

p,
.p2 {
  font-family: roboto p;
}

h1,
h2 {
  font-family: roboto overskrift;
}
h3 {
  font-family: roboto h3;
}
